---
import Background from "@components/Background.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="min-h-[75vh]"></div>
  <div class="pointer-events-none">
    <Background />
    <div
      class="absolute right-0 -top-40 bottom-0 left-0 m-auto lg:left-[25rem] z-10 lg:mr-auto lg:ml-0 w-[300px] h-[400px] lg:w-[600px] lg:mt-10 lg:top-0"
    >
      <div class="-z-10">
        <div class="text-3xl lg:text-5xl font-bold">I'm Junipero Verbeke</div>
        <div class="text-xl lg:text-3xl py-3 font-bold">
          Student in Aerospace Engineering
        </div>
        <div class="py-2">
          <text class="lg:text-lg text-justify">
            I am an graduate student majoring in aerospace engineering at San
            Jose State University, working as an applied engineer at Veritas
            Managed Solutions, Inc. My interests are in mathematical models,
            guidance, navigation and controls, and weapons development. Always
            looking forward to helping the growth of the teams I am associated
            with.
          </text>
        </div>
      </div>
      <div class="mt-8 pointer-events-auto">
        <a class="btn" href="/resume">See my resume</a>
        <a href="/contact" target="_blank" class="btn btn-outline ml-5">
          Contact</a
        >
      </div>
    </div>
  </div>
</BaseLayout>
